In [5]:
ss = "hello world"
xx = 34
yy = 1.267

In [2]:
xx + yy

35.267

In [6]:
ss.capitalize()

'Hello world'

In [7]:
type(ss)

str

In [8]:
type(xx)

int

In [9]:
type(yy)

float

In [10]:
mm = xx + yy
type(mm)

float

In [11]:
ss = "this is my string"

In [12]:
ss.count("X")

0

In [13]:
ss.replace("t", "T")

'This is my sTring'

In [14]:
help(ss.replace)

Help on built-in function replace:

replace(...) method of builtins.str instance
    S.replace(old, new[, count]) -> str

    Return a copy of S with all occurrences of substring
    old replaced by new.  If the optional argument count is
    given, only the first count occurrences are replaced.

In [15]:
species = "Random Species"

In [16]:
species.split()

['Random', 'Species']

In [19]:
help(species.split)

Help on built-in function split:

split(...) method of builtins.str instance
    S.split(sep=None, maxsplit=-1) -> list of strings

    Return a list of the words in S, using sep as the
    delimiter string.  If maxsplit is given, at most maxsplit
    splits are done. If sep is not specified or is None, any
    whitespace string is a separator and empty strings are
    removed from the result.

In [21]:
species.split("m")

['Rando', ' Species']

In [22]:
len(species)

14

In [23]:
species.upper()

'RANDOM SPECIES'

In [28]:
help(species.join)

Help on built-in function join:

join(...) method of builtins.str instance
    S.join(iterable) -> str

    Return a string which is the concatenation of the strings in the
    iterable.  The separator between elements is S.

In [29]:
human = ("Homo", "sapiens", "sapiens")

In [30]:
"X".join(human)

'HomoXsapiensXsapiens'